<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/stile.css">
    <title>{{titolo}}</title>
</head>
<body>
    <!--Header-->
    {{> header }}
   
    <h2>Il titolo è: {{titolo}}</h2>

    <div>
        <!-- each => loop foreach data:dato / fiori:fiore-->
        {{#each data}}
        <h4>{{this.title}}{{this.reactions}}</h4>
        {{/each}}

        {{#each data}}
        <p>i tags del titolo {{this.title}} sono: <b>{{this.tags}}</b></p>
        {{/each}}

    {{#each data}}
        <img src="{{this.immagine}}"><br>
    {{/each}}


    </div>

<!--Header-->
{{> footer }}
</body>
</html>